
<h1>Mash-Up Posters</h1>
<hr/>
<section id="poster_wrapper">
    <% @posters.each do |poster| %>
    <div class="poster">
      <%= link_to image_tag(poster.image_url,class: "p_index_img"), poster %>
      
      
      <%= link_to 'Edit', edit_poster_path(poster), class: "links" %>
    </div>
    <% end %>
</section>



<!-- link_to 'Destroy', poster, method: :delete, data: { confirm: 'Are you sure?' } -->
