/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.dark{
	background-color: #000000;
}

.login{
	height: 50px;
	width: 300px;
    color: #235A32
}

/*************************************
**********Navbar
**************************************/
.fb_login {
	height: 34px;
	width:125px;
	margin-top: 8px;
	font-size: 10px;
}

.fb_logout {
	height: 34px;
	width:125px;
	margin-top: 15px;
	font-size: 10px;
	margin-right: 5px;
}

.prof_pic {
	position: absolute;
	float: left;
	clear: both;
	height: 30px;
	margin-left: 5px;
}

.fb_widget {
	color: #FFFFFF;

}

.space{
  margin-right: 25px;
  text-decoration: bold;
}
.log{
  padding-left: 20%;
}
body{
	background-color: #000000;
}