/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*************************************
GENERAL
**************************************/

.dark{
	background-color: #000000;
}

.login{
	height: 50px;
	width: 300px;
  color: #235A32;
}

hr {
	border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

h1 {
	text-align: center;
	font-family: 'Metal Mania', cursive;
}

h3 {
	text-align: center;
}

.links {
	display: inline-block;
}

.logo {
	height: 200px;
}

/*************************************
NAVBAR
**************************************/
.fb_login {
	height: 34px;
	width:125px;
	margin-top: 8px;
	font-size: 10px;
}

.fb_logout {
	height: 34px;
	width:125px;
	margin-top: 15px;
	font-size: 10px;
	margin-right: 5px;
}

.prof_pic {
	height: 45px;
	border-radius: 3px 15px 3px;
	margin: 5px 10px 5px;
}

.fb_widget {
	color: #FFFFFF;
}

.space{
  margin-right: 25px;
  text-decoration: bold;
}

.nav-links {
	font-family: 'Metal Mania', cursive;
	color: white;
	font-size: 2em;
	margin-top: 15px;
}

.nav-logo {
	height: 50px;
	background-color: #FFF;
	border-radius: 3px 15px 3px;
}

#user_avatar {
	margin-top: 12px;
}


/*************************************
LANDING PAGE
**************************************/

.logo{
  padding-left: 18%;
}

.logo-text {
	font-family: 'Metal Mania', cursive;
	font-size: 3em;
}


.landing_title {
	text-align: center;
}

.landing_divider {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.landing_stories {
	width: 90%;
	margin: 40px auto;
}

.landing_story {
	display: inline-block;
	width: 28%;
	margin: 0 2.5%;
	vertical-align: top;
}

.story_title {
	font-weight: bold;
}

.story_content {

}

/*************************************
POSTERS INDEX
**************************************/

#poster_wrapper {
	width: 90%;
	margin: 0 auto;
}

.poster {
	display: inline-block;
	width: 18%;
	margin: 10px 0.8%;
	vertical-align: top;
}

.p_index_img {

	width: 95%

}

.modal_posters {
	width: 90%;
	margin: 0 auto;
}

.rand_poster_div {
	width: 30%;
	display: inline-block;
	margin: 0 auto;
}


/*************************************
POSTER SHOW PAGE
**************************************/

.title{
	text-align: center;
}
.info{
	padding-left: -50%;
}
.sub-title{
	text-align: center;
}
.center{
	margin-left: auto;
    margin-right: auto;
    width: 18%;
    background-color: #FFFFFF;
}
table {
    border-collapse: collapse;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
}
table, td {
   border: 1px solid black;
}


/*************************************
STORIES INDEX
**************************************/
