/* Flip Carousel functional styles */

.flip-carousel{
	margin:0 auto;
	display:block;
	overflow:hidden;
	position:relative;
	padding: 30px 10px;
	text-align: center;
}

.flip-carousel > ul{
	margin:0;
	padding:0;
	display: inline-block;
}

.flip-carousel > ul > li{
	width: 275px;
	margin: 10px;
	padding:0;
	display: inline-block;
	list-style-type:none;
	position: relative;
	-webkit-perspective: 1500;
	-moz-perspective: 1500;
	-ms-perspective: 1500;
	perspective: 1500;
	
}
.flip-carousel .card {
	position:relative;
	-webkit-transform: rotateY(90deg);
	-moz-transform: rotateY(90deg);
	/*-ms-transform: rotateY(90deg);
	transform: rotateY(90deg);*/
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	-moz-transform-style: preserve-3d;
	-moz-transition: 0.5s;
	-ms-transform-style: preserve-3d;
	-ms-transition: 0.5s;
	transform-style: preserve-3d;
	transition: 0.5s;
	height:400px;
}
.flip-carousel .face {
	position: absolute;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.flip-carousel .front{ z-index:1; }
.flip-carousel .back{ z-index: 0; }

.flip-carousel .back{
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	/*-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);*/
}

.ie .flip-carousel .face .empty{
	width:100%;
	height:100%;
	background-color:#000;
	background-color:rgba(0,0,0,.8);
}
.flip-carousel .controls {
	display: block;
	margin:0 auto;
	overflow:hidden;
}
.flip-carousel .controls img {
	padding: 0 5px 0 0;
}
.flip-carousel .controls.dots {
	margin-top: 5px;
}
.flip-carousel .controls li.dot {
	width: 12px;
	height: 12px;
	display: inline-block;
	margin: 0 5px 0 0;
	list-style-type: none;
	background-color: #ccc;
	border-radius: 10px;
}

.flip-carousel .controls li.dot.selected{
	background-color:#666;
}

.flip-carousel .controls .arrow{
	opacity: .8;
	cursor: pointer;
	top:45%;
	position: absolute;
	width: 40px;
	height: 60px;
	background: #000;
	background: rgba(0, 0, 0, 0.5);
}
.flip-carousel .controls .arrow:after{
	content: "";
	opacity: .8;
	width: 20px;
	height: 20px;
	position: absolute;
	background: none;
	border-bottom: 5px solid #FFF;
	border-left: 5px solid #FFF;
	left: 12px;
	top: 17px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.flip-carousel .controls .arrow.right:after{
	border-bottom: none;
	border-left: none;
	border-top: 5px solid #FFF;
	border-right: 5px solid #FFF;
	left: auto;
	right: 12px;
}
.ie .flip-carousel .controls .arrow{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.ie .flip-carousel .controls .arrow:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.ie .flip-carousel .controls .arrow:after{
    content:"\2039";
    color:#FFF;
    font-size:80px;
    border:none;
    top:-22px;
    left:5px;
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.ie .flip-carousel .controls .arrow.right:after{
    content:"\203A";
    left:auto;
    right:10px;
}

.flip-carousel .controls .arrow:hover {
	opacity: 1;
}

.flip-carousel .controls .arrow.left{
	left:20px;
	right:auto;
}
.flip-carousel .controls .arrow.right{
	right:20px;
	left:auto;
}

.flip-carousel .hide {
	display:none;
}

.flip-carousel .loader{
	width: 40px;
	height: 40px;
	position: absolute;
	left:48%;
	bottom: 0;
	animation:spinning 2s linear infinite;
	-webkit-animation:spinning 2s linear infinite;
}
.flip-carousel .loader:after{
	content:"";
	width: 30px;
	height: 30px;
	border: 5px solid rgba(255,255,255,.5);
	border-radius: 20px;
	border-top-color: transparent;
	position:absolute;
	top: 0;
	left: 0;
}

@keyframes spinning{
	from   { transform: rotate(0deg) }
	to { transform: rotate(360deg) }
}

@-webkit-keyframes spinning{
	from   { -webkit-transform: rotate(0deg) }
	to { -webkit-transform: rotate(360deg) }
}




/* General and article-specific styles */

html, body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
body{
	background: #000;
	font-family: arial, sans-serif;
}


article {
	height: 420px;
	text-align:center;
	padding: 10px;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
	color:#FFF;
}
article img{
	width: 90%;
	margin-top: 10px;
	padding:0;
}
article img.err{ /* applied when image does not load */
	 width:100%;
	background-color:rgba(0,0,0,0.2);
 }
article h1{
	font-size: 2em;
	margin-bottom: 5px;
}

article span{
    margin-bottom: 20px;
    display: block;
    font-size: 10px;
    letter-spacing: 2px;
}

article span + div{
	font-size: 100px;
	margin-top: 20px;
	background: rgba(0, 0, 0, 0.3);
	display: inline-block;
	width: 113px;
	height: 113px;
	border-radius: 60px;
}

article[title="item1"]{ background-color:#7796E7;}
article[title="item2"]{ background-color:#bd383b;}
article[title="item3"]{ background-color:#7796E7;}
article[title="item4"]{ background-color:#bd383b;}
article[title="item5"]{ background-color:#7796E7;}
article[title="item6"]{ background-color:#bd383b;}
article[title="item7"]{ background-color:#7796E7;}
article[title="item8"]{ background-color:#bd383b;}
article[title="item9"]{ background-color:#7796E7;}
article[title="item10"]{ background-color:#bd383b;}
article[title="item11"]{ background-color:#7796E7;}

/* 
 * Foundation Icons v 3.0
 * Made by ZURB 2013 http://zurb.com/playground/foundation-icon-fonts-3
 * MIT License
 */

@font-face {
  font-family: "foundation-icons";
  src: url("fonts/foundation-icons.eot");
  src: url("fonts/foundation-icons.eot?#iefix") format("embedded-opentype"),
       url("fonts/foundation-icons.woff") format("woff"),
       url("fonts/foundation-icons.ttf") format("truetype"),
       url("fonts/foundation-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fi-address-book:before,
.fi-alert:before,
.fi-align-center:before,
.fi-align-justify:before,
.fi-align-left:before,
.fi-align-right:before,
.fi-anchor:before,
.fi-annotate:before,
.fi-archive:before,
.fi-arrow-down:before,
.fi-arrow-left:before,
.fi-arrow-right:before,
.fi-arrow-up:before,
.fi-arrows-compress:before,
.fi-arrows-expand:before,
.fi-arrows-in:before,
.fi-arrows-out:before,
.fi-asl:before,
.fi-asterisk:before,
.fi-at-sign:before,
.fi-background-color:before,
.fi-battery-empty:before,
.fi-battery-full:before,
.fi-battery-half:before,
.fi-bitcoin-circle:before,
.fi-bitcoin:before,
.fi-blind:before,
.fi-bluetooth:before,
.fi-bold:before,
.fi-book-bookmark:before,
.fi-book:before,
.fi-bookmark:before,
.fi-braille:before,
.fi-burst-new:before,
.fi-burst-sale:before,
.fi-burst:before,
.fi-calendar:before,
.fi-camera:before,
.fi-check:before,
.fi-checkbox:before,
.fi-clipboard-notes:before,
.fi-clipboard-pencil:before,
.fi-clipboard:before,
.fi-clock:before,
.fi-closed-caption:before,
.fi-cloud:before,
.fi-comment-minus:before,
.fi-comment-quotes:before,
.fi-comment-video:before,
.fi-comment:before,
.fi-comments:before,
.fi-compass:before,
.fi-contrast:before,
.fi-credit-card:before,
.fi-crop:before,
.fi-crown:before,
.fi-css3:before,
.fi-database:before,
.fi-die-five:before,
.fi-die-four:before,
.fi-die-one:before,
.fi-die-six:before,
.fi-die-three:before,
.fi-die-two:before,
.fi-dislike:before,
.fi-dollar-bill:before,
.fi-dollar:before,
.fi-download:before,
.fi-eject:before,
.fi-elevator:before,
.fi-euro:before,
.fi-eye:before,
.fi-fast-forward:before,
.fi-female-symbol:before,
.fi-female:before,
.fi-filter:before,
.fi-first-aid:before,
.fi-flag:before,
.fi-folder-add:before,
.fi-folder-lock:before,
.fi-folder:before,
.fi-foot:before,
.fi-foundation:before,
.fi-graph-bar:before,
.fi-graph-horizontal:before,
.fi-graph-pie:before,
.fi-graph-trend:before,
.fi-guide-dog:before,
.fi-hearing-aid:before,
.fi-heart:before,
.fi-home:before,
.fi-html5:before,
.fi-indent-less:before,
.fi-indent-more:before,
.fi-info:before,
.fi-italic:before,
.fi-key:before,
.fi-laptop:before,
.fi-layout:before,
.fi-lightbulb:before,
.fi-like:before,
.fi-link:before,
.fi-list-bullet:before,
.fi-list-number:before,
.fi-list-thumbnails:before,
.fi-list:before,
.fi-lock:before,
.fi-loop:before,
.fi-magnifying-glass:before,
.fi-mail:before,
.fi-male-female:before,
.fi-male-symbol:before,
.fi-male:before,
.fi-map:before,
.fi-marker:before,
.fi-megaphone:before,
.fi-microphone:before,
.fi-minus-circle:before,
.fi-minus:before,
.fi-mobile-signal:before,
.fi-mobile:before,
.fi-monitor:before,
.fi-mountains:before,
.fi-music:before,
.fi-next:before,
.fi-no-dogs:before,
.fi-no-smoking:before,
.fi-page-add:before,
.fi-page-copy:before,
.fi-page-csv:before,
.fi-page-delete:before,
.fi-page-doc:before,
.fi-page-edit:before,
.fi-page-export-csv:before,
.fi-page-export-doc:before,
.fi-page-export-pdf:before,
.fi-page-export:before,
.fi-page-filled:before,
.fi-page-multiple:before,
.fi-page-pdf:before,
.fi-page-remove:before,
.fi-page-search:before,
.fi-page:before,
.fi-paint-bucket:before,
.fi-paperclip:before,
.fi-pause:before,
.fi-paw:before,
.fi-paypal:before,
.fi-pencil:before,
.fi-photo:before,
.fi-play-circle:before,
.fi-play-video:before,
.fi-play:before,
.fi-plus:before,
.fi-pound:before,
.fi-power:before,
.fi-previous:before,
.fi-price-tag:before,
.fi-pricetag-multiple:before,
.fi-print:before,
.fi-prohibited:before,
.fi-projection-screen:before,
.fi-puzzle:before,
.fi-quote:before,
.fi-record:before,
.fi-refresh:before,
.fi-results-demographics:before,
.fi-results:before,
.fi-rewind-ten:before,
.fi-rewind:before,
.fi-rss:before,
.fi-safety-cone:before,
.fi-save:before,
.fi-share:before,
.fi-sheriff-badge:before,
.fi-shield:before,
.fi-shopping-bag:before,
.fi-shopping-cart:before,
.fi-shuffle:before,
.fi-skull:before,
.fi-social-500px:before,
.fi-social-adobe:before,
.fi-social-amazon:before,
.fi-social-android:before,
.fi-social-apple:before,
.fi-social-behance:before,
.fi-social-bing:before,
.fi-social-blogger:before,
.fi-social-delicious:before,
.fi-social-designer-news:before,
.fi-social-deviant-art:before,
.fi-social-digg:before,
.fi-social-dribbble:before,
.fi-social-drive:before,
.fi-social-dropbox:before,
.fi-social-evernote:before,
.fi-social-facebook:before,
.fi-social-flickr:before,
.fi-social-forrst:before,
.fi-social-foursquare:before,
.fi-social-game-center:before,
.fi-social-github:before,
.fi-social-google-plus:before,
.fi-social-hacker-news:before,
.fi-social-hi5:before,
.fi-social-instagram:before,
.fi-social-joomla:before,
.fi-social-lastfm:before,
.fi-social-linkedin:before,
.fi-social-medium:before,
.fi-social-myspace:before,
.fi-social-orkut:before,
.fi-social-path:before,
.fi-social-picasa:before,
.fi-social-pinterest:before,
.fi-social-rdio:before,
.fi-social-reddit:before,
.fi-social-skillshare:before,
.fi-social-skype:before,
.fi-social-smashing-mag:before,
.fi-social-snapchat:before,
.fi-social-spotify:before,
.fi-social-squidoo:before,
.fi-social-stack-overflow:before,
.fi-social-steam:before,
.fi-social-stumbleupon:before,
.fi-social-treehouse:before,
.fi-social-tumblr:before,
.fi-social-twitter:before,
.fi-social-vimeo:before,
.fi-social-windows:before,
.fi-social-xbox:before,
.fi-social-yahoo:before,
.fi-social-yelp:before,
.fi-social-youtube:before,
.fi-social-zerply:before,
.fi-social-zurb:before,
.fi-sound:before,
.fi-star:before,
.fi-stop:before,
.fi-strikethrough:before,
.fi-subscript:before,
.fi-superscript:before,
.fi-tablet-landscape:before,
.fi-tablet-portrait:before,
.fi-target-two:before,
.fi-target:before,
.fi-telephone-accessible:before,
.fi-telephone:before,
.fi-text-color:before,
.fi-thumbnails:before,
.fi-ticket:before,
.fi-torso-business:before,
.fi-torso-female:before,
.fi-torso:before,
.fi-torsos-all-female:before,
.fi-torsos-all:before,
.fi-torsos-female-male:before,
.fi-torsos-male-female:before,
.fi-torsos:before,
.fi-trash:before,
.fi-trees:before,
.fi-trophy:before,
.fi-underline:before,
.fi-universal-access:before,
.fi-unlink:before,
.fi-unlock:before,
.fi-upload-cloud:before,
.fi-upload:before,
.fi-usb:before,
.fi-video:before,
.fi-volume-none:before,
.fi-volume-strike:before,
.fi-volume:before,
.fi-web:before,
.fi-wheelchair:before,
.fi-widget:before,
.fi-wrench:before,
.fi-x-circle:before,
.fi-x:before,
.fi-yen:before,
.fi-zoom-in:before,
.fi-zoom-out:before {
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

